:root{
    --medium : #F0E5CF;
    --light : #F7F6F2;
    --mediumdark : #C8C6C6;
    --dark : #4B6587;
    
    --dark1 : #96B6C5;
    --mediumdark1 : #ADC4CE;
    --medium1 : #EEE0C9;
    --light1 : #F1F0E8;

    --salmon : #F98F7D;
    --blue : #4B99E5;
    --lightblue: #01D4FF;
    --darkblue: #0153A1;

}
body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, var(--dark1), var(--medium1));
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 70px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    text-align: center;
    color: var(--dark);
    width: 400px;
    padding: 5px;
    border: 1px solid var(--dark);
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
}
div.app{
    width: 400px;
    height: 600px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(to left, var(--medium1), var(--light1), var(--medium1));
    box-shadow: 10px 5px 15px black;
    border: 5px double lightgray;
}
div.border{
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, var(--dark1), var(--medium1));
}
div.speaker{
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}
div.homebutton{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.detail{
    width: 100%;
    height: 35%;
}
div.type{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: var(--dark1);
}
div.type button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: larger;
    border: none;
    background: var(--dark);
    color: var(--mediumdark1);
    text-shadow: 2px 2px 5px var(--dark);
    box-shadow: 2px 2px 5px var(--dark);
}
div.type button:disabled{
    color: var(--dark);
    background: var(--mediumdark1);
    text-shadow: 2px 2px 5px var(--dark);
    box-shadow: 0px 0px 5px gray;
}
.focus{
    background-color: green;
    box-shadow: 1px -1px 5px gray;
}
div.input{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    gap: 10px;
    background-color: var(--dark1);
}
div.label{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: larger;
    color: var(--dark);
    text-shadow: 1px 1px 1px black;
    background-color: var(--dark1);
}
div.label label:first-child{
    width: 70%;
    font-size: larger;
}
div.label label:last-child{
    width: 30%;
    font-size: larger;
    
}
div.inputfield{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100% ;
    gap: 10px;
    /* background-color: var(--dark1); */
}
div.inputfield input:first-child{
    width: 70%;
    font-size: x-large;
    padding: 5px;
    background-color: var(--medium1);
    color: var(--dark);    
}
    div.inputfield input:last-child{
        width: 30%;
        font-size: x-large;
        padding: 5px;
        background-color: var(--medium1);
        color: var(--dark);    
        }
div.submit{
    width: 100%;
    height: 15%;
    background-color: var(--dark1);
}
div.submit button{
    width: 50%;
    height: 60%;
    font-size: larger;
    border-radius: 10px;
    color: var(--mediumdark1);
    box-shadow: 1px 1px 5px gray;
    border: none;
    text-shadow: 2px 2px 5px var(--dark);
    background: var(--dark);

}
div.submit button:focus, button:active{
    background-color: var(--mediumdark1);
    color: var(--dark);
    text-shadow: 2px 2px 5px var(--dark);
    box-shadow: 0px 0px 5px gray;
}

div.screen{
    width: 100%;
    height: 300px;
    border: 1px solid gray;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
div.screen p{
    min-height: 35px;
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* color: black; */
}
div.screen p > span.textfield{
    width: 50%;
    font-weight: bold;
    font-size: larger;
}
div.screen p > span.amount{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}
span.current{
    font-weight: bold;
}
span.total{
    font-weight: bold;
    font-size: large;
    border-bottom: 1px solid black;
}

div.homebutton button{
    background-color: var(--light1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px ridge var(--light1);
    box-shadow: inset 0px 0px 3px black;
}
div.homebutton button:active{
    box-shadow: inset 0px 0px 5px black;
}

.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-row{
    flex-direction: row;
}
.d-column{
    flex-direction: column;
}
.profit{
    background: linear-gradient(to left, var(--medium1), var(--dark));
}
.lose{
    background: linear-gradient(to left, var(--medium1), var(--dark));
}

.profitFont{
    color: darkgreen;
}
.loseFont{
    color: red;
}
div.border{
    background-image: url(./images/bg.avif)!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center!important;
}
